.navbar {
	@media(min-width: 768px) {
		.nav > li.dropdown.open {
			position: static;
		}
		.nav > li.dropdown.open .dropdown-menu {
			display: table;
			width: 100%;
			text-align: center;
			left: 0;
			right: 0;
		}
		.dropdown-menu>li {
			display: table-cell;
		}
	}
}